<!DOCTYPE html>
<html lang="en" class="has-aside-left has-aside-mobile-transition has-navbar-fixed-top has-aside-expanded">
  <head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta name="csrf-token" content={csrf_token_value()}>
    <%= live_title_tag assigns[:page_title] || "GadgetbridgeVisualizer", suffix: " · Phoenix Framework" %>
    <link phx-track-static rel="stylesheet" href={Routes.static_path(@conn, "/assets/main.css")}/>

    <!-- Fonts -->
    <link rel="dns-prefetch" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css?family=Nunito" rel="stylesheet" type="text/css">
    <title>Fitness!</title>
    <script phx-track-static type="text/javascript" src={Routes.static_path(@conn, "/assets/app.js")}></script>

  </head>
  <body>
    <nav id="navbar-main" class="navbar is-fixed-top">
      <div class="navbar-brand">
        <a class="navbar-item is-hidden-desktop jb-aside-mobile-toggle">
          <span class="icon"><i class="mdi mdi-forwardburger mdi-24px"></i></span>
        </a>
      </div>
      <div class="navbar-brand is-right">
        <a class="navbar-item is-hidden-desktop jb-navbar-menu-toggle" data-target="navbar-menu">
          <span class="icon"><i class="mdi mdi-dots-vertical"></i></span>
        </a>
      </div>
      <div class="navbar-menu fadeIn animated faster" id="navbar-menu">
        <div class="navbar-end">
          <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider is-hoverable">
            <a class="navbar-link is-arrowless">
              <span class="icon"><i class="mdi mdi-menu"></i></span>
              <span>Sample Menu</span>
              <span class="icon">
              <i class="mdi mdi-chevron-down"></i>
            </span>
            </a>
            <div class="navbar-dropdown">
              <a href="profile.html" class="navbar-item">
                <span class="icon"><i class="mdi mdi-account"></i></span>
                <span>My Profile</span>
              </a>
              <a class="navbar-item">
                <span class="icon"><i class="mdi mdi-settings"></i></span>
                <span>Settings</span>
              </a>
              <a class="navbar-item">
                <span class="icon"><i class="mdi mdi-email"></i></span>
                <span>Messages</span>
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                <span class="icon"><i class="mdi mdi-logout"></i></span>
                <span>Log Out</span>
              </a>
            </div>
          </div>
          <div class="navbar-item has-dropdown has-dropdown-with-icons has-divider has-user-avatar is-hoverable">
            <a class="navbar-link is-arrowless">
              <div class="is-user-avatar">
                <img src="https://avatars.dicebear.com/v2/initials/john-doe.svg" alt="John Doe">
              </div>
              <div class="is-user-name"><span>John Doe</span></div>
              <span class="icon"><i class="mdi mdi-chevron-down"></i></span>
            </a>
            <div class="navbar-dropdown">
              <a href="profile.html" class="navbar-item">
                <span class="icon"><i class="mdi mdi-account"></i></span>
                <span>My Profile</span>
              </a>
              <a class="navbar-item">
                <span class="icon"><i class="mdi mdi-settings"></i></span>
                <span>Settings</span>
              </a>
              <a class="navbar-item">
                <span class="icon"><i class="mdi mdi-email"></i></span>
                <span>Messages</span>
              </a>
              <hr class="navbar-divider">
              <a class="navbar-item">
                <span class="icon"><i class="mdi mdi-logout"></i></span>
                <span>Log Out</span>
              </a>
            </div>
          </div>
          <a href={Routes.static_path(@conn, "/about")} title="About" class="navbar-item has-divider is-desktop-icon-only">
            <span class="icon"><i class="mdi mdi-help-circle-outline"></i></span>
            <span>About</span>
          </a>
          <a title="Log out" class="navbar-item is-desktop-icon-only">
            <span class="icon"><i class="mdi mdi-logout"></i></span>
            <span>Log out</span>
          </a>
        </div>
      </div>
    </nav>
    <aside class="aside is-placed-left is-expanded">
      <div class="aside-tools">
        <div class="aside-tools-label">
          <span><b>Gadgetbridge</b> Visualizer</span>
        </div>
      </div>
      <div class="menu is-menu-main">
        <p class="menu-label">Charts</p>
        <ul class="menu-list">
          <li>
            <a href={Routes.static_path(@conn, "/")} class={@conn.assigns[:overview_active]}>
              <span class="icon"><i class="mdi mdi-desktop-mac"></i></span>
              <span class="menu-item-label">Overview</span>
            </a>
          </li>
        </ul>
        <p class="menu-label">Detailed Charts</p>
        <ul class="menu-list">
          <li>
            <a href={Routes.static_path(@conn, "/heart_rate")} class={@conn.assigns[:heart_rate_active]}>
              <span class="icon"><i class="mdi mdi-heart-pulse"></i></span>
              <span class="menu-item-label">Heart Rate</span>
            </a>
          </li>
          <li>
            <a href={Routes.static_path(@conn, "/sleep")} class={@conn.assigns[:sleep_active]}>
              <span class="icon"><i class="mdi mdi-sleep"></i></span>
              <span class="menu-item-label">Sleep</span>
            </a>
          </li>
          <li>
            <a href={Routes.static_path(@conn, "/activity")} class={@conn.assigns[:activity_active]}>
              <span class="icon"><i class="mdi mdi-arm-flex"></i></span>
              <span class="menu-item-label">Activity</span>
            </a>
          </li>
        </ul>
        <p class="menu-label">Links</p>
        <ul class="menu-list">
          <li>
            <a href="https://github.com/mpope9/gadgetbridge_visualizer" target="_blank" class="has-icon">
              <span class="icon"><i class="mdi mdi-github-circle"></i></span>
              <span class="menu-item-label">Source</span>
            </a>
          </li>
          <li>
            <a href="https://github.com/vikdiesel/admin-one-bulma-dashboard" target="_blank" class="has-icon">
              <span class="icon"><i class="mdi mdi-code-tags"></i></span>
              <span class="menu-item-label">Theme</span>
            </a>
          </li>
          <li>
            <a href="https://codeberg.org/Freeyourgadget/Gadgetbridge" target="_blank" class="has-icon">
              <span class="icon"><i class="mdi mdi-cellphone"></i></span>
              <span class="menu-item-label">Gadgetbridge</span>
            </a>
          </li>
          <li>
            <a href={Routes.static_path(@conn, "/about")} class={@conn.assigns[:about_active]}>
              <span class="icon"><i class="mdi mdi-help-circle"></i></span>
              <span class="menu-item-label">About</span>
            </a>
          </li>
        </ul>
      </div>
    </aside>
    <section class="section is-title-bar">
      <%= form_for @conn, Routes.page_path(@conn, :set_date_range), fn f -> %>
        <%= hidden_input f, :current_path, value: @conn.request_path %>
        <div class="level">
          <div class="level-left">
            <div class="level-item">
              <ul>
                <li><%= @conn.assigns.title %></li>
                <li><%= @conn.assigns.sub_title %></li>
              </ul>
            </div>
          </div>
          <!-- Start and end date chooser. -->
          <div class="level-right">
            <div class="level-item">
              <div class="is-right">
                <label for="date-start">Start Date</label>
              </div>
            </div>
            <div class="level-item">
              <div class="is-right">
                <input type="date" id="date_start" name="date_start" value={@conn.assigns.date_start}>
              </div>
            </div>
            <div class="level-item">
              <div class="is-right">
                <label for="date-end">End Date</label>
              </div>
            </div>
            <div class="level-item">
              <div class="is-right">
                <input type="date" id="date_end" name="date_end" value={@conn.assigns.date_end}>
              </div>
            </div>
            <div class="level-item">
              <div class="is-right">
                <%= submit "Set Range", class: "button is-primary" %>
              </div>
            </div>
          </div>
        </div>
      <% end %>
    </section>

    <%= @inner_content %>

    <link rel="stylesheet" href="https://cdn.materialdesignicons.com/4.9.95/css/materialdesignicons.min.css">
  </body>
</html>
